.section {
    background-color: #f1f6f7;
    padding-bottom: 72px;
    padding-top: 80px;
    text-align: center;
    position: relative;
    opacity: 0.9;
}

.section::after {
    content: "";
    background: url(https://raw.githubusercontent.com/solodev/subtle-image-overlays/master/images/bg.png) no-repeat center;
    background-position: 100% bottom;
    background-size: 250px auto;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 5%;
    right: 5%;
    position: absolute;
    z-index: -1;
  }

.btn {
    background-color: #d30b5c;
    color: #fff;
    border-radius: 0;
}

.btn:hover {
    color: #fff;
    background-color: #af094c;
}